[submodule "Shotgun/vendor/spdlog"]
	path = Shotgun/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shotgun/vendor/GLFW"]
	path = Shotgun/vendor/GLFW
	url = https://github.com/renanpll/glfw.git
